
.main {
	background: #fff;
	border-radius: .3rem;
	box-shadow: 0 0.06rem 0.25rem 0 rgba(60,65,80,.15);
	margin-bottom: 20px;
	width: 100%;
	transition: all .3s ease-in-out;


	h2 {
		width: 100%;
		padding: 20px;
	}
}
